<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ejercicio templates </title>
</head>
<body>
    <h1> Información del Usuario </h1>
    <ul> ID: {{id}}</ul>
    <ul> Nombre: {{nombre}}</ul>
    <ul> Email: {{email}}</ul>
    </br>
    <table border="4">
        <tr>
            <th style="background-color: beige;"> Claves </th>
            <th style="background-color: beige;"> Valor </th>
        </tr>
        <tr>
            <th style="background-color: lavender"> ID </th>
            <th style="background-color: lavender"> {{id}} </th>
        </tr>
        <tr>
            <th style="background-color: lavender"> Nombre </th>
            <th style="background-color: lavender"> {{nombre}} </th>
        </tr>
        <tr>
            <th style="background-color: lavender"> Email </th>
            <th style="background-color: lavender"> {{email}} </th>
        </tr>
    </table>
</body>
</html>